@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
}

.App{
    background-color: #78e35d;
    min-height: 100vh;
}

.Konami{
    background-color: red;
    min-height: 100vh;
}

.centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

.answer {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #555;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 1s;
}
  
.answer:hover {
    background-color: #ddd;
}
  
.answer.correct {
    background-color: #4caf50;
    color: white;
}
  
.answer.incorrect {
    background-color: #f44336;
    color: white;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #000;
    background-color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}


@keyframes rotateMouse {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .mouse-animation {
    animation: rotateMouse 2s linear infinite;
  }


  .instructions {
    color: red; /* Couleur du texte pour les instructions */
  }
  
  /* Effet de mouvement pour le bouton S'inscrire */
  .signup-button {
    transition: all 1s ease-in-out;
  }
  
  .signup-button-disabled:hover {
    transform: translateX(200px); /* Ajustez la valeur selon votre préférence */
  }
  
  .signup-button-disabled {
    width: 150px; /* Ajustez la largeur selon votre préférence */
  }


/* styles.css */


.Konami, .App {
    background-size: 220%;
    min-width: 100%;
    background-attachment: fixed;
    transition: background-position 2s ease; /* Ajoute une transition de 1 seconde avec une fonction d'accélération */
  }
  
  .Konami {
    background-image: url('./assets/rechauffement-climatique.jpg');
    background-position: right 60%; /* Démarre avec la moitié droite affichée */
  }
  
  .App {
    background-image: url('./assets/rechauffement-climatique.jpg');
    background-position: left 60%; /* Démarre avec la moitié gauche affichée */
  }
  
.App .contenair-about {
    border: 4px solid #fff;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(55, 142, 33, 0.592);
}

.App .title-home{
    padding-top: 10%;
    padding-bottom: 5%;
    color:  rgb(30, 79, 18);
}

.App .title-home2{
    padding-top: 50%;
    padding-bottom: 5%;
    color:  rgb(30, 79, 18);
}

.Konami .contenair-about {
    border: 4px solid #fff;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(158, 44, 31, 0.592);
}

.Konami .title-home{
    padding-top: 10%;
    padding-bottom: 5%;
    color:  rgb(95, 22, 22);
}


.Konami .title-home2 {
    padding-top: 50%;
    padding-bottom: 5%;
    color:  rgb(95, 22, 22);
}

.Konami .navbar {
    background-color: rgba(158, 44, 31, 1);
}


.App .Contenu {
    border: 4px solid #fff;
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(55, 142, 33, 0.592);
}

.Konami .Contenu {
    border: 4px solid #fff;
    border-radius: 20px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(158, 44, 31, 0.592);
}

.App .input{
    border-color: rgba(55, 142, 33, 0.592);
}