@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
}

.App{
    background-color: #78e35d;
    min-height: 100vh;
}

.Konami{
    background-color: red;
    min-height: 100vh;
}

.centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

.answer {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #555;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 1s;
}
  
.answer:hover {
    background-color: #ddd;
}
  
.answer.correct {
    background-color: #4caf50;
    color: white;
}
  
.answer.incorrect {
    background-color: #f44336;
    color: white;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #000;
    background-color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}


@keyframes rotateMouse {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .mouse-animation {
    animation: rotateMouse 2s linear infinite;
  }


  .instructions {
    color: red; /* Couleur du texte pour les instructions */
  }
  
  /* Effet de mouvement pour le bouton S'inscrire */
  .signup-button {
    transition: all 1s ease-in-out;
  }
  
  .signup-button-disabled:hover {
    transform: translateX(200px); /* Ajustez la valeur selon votre préférence */
  }
  
  .signup-button-disabled {
    width: 150px; /* Ajustez la largeur selon votre préférence */
  }


/* styles.css */


.Konami, .App {
    background-size: 220%;
    top: 50%;
    transition: background-position 1s ease; /* Ajoute une transition de 1 seconde avec une fonction d'accélération */
  }
  
  .Konami {
    background-image: url('./assets/rechauffement-climatique.jpg');
    background-position: right 60%; /* Démarre avec la moitié droite affichée */
  }
  
  .App {
    background-image: url('./assets/rechauffement-climatique.jpg');
    background-position: left 60%; /* Démarre avec la moitié gauche affichée */
  }
  
  
/*
a, a:visited {
    color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

li {
    list-style-type: none;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}


.persistCheck {
    font-size: 0.75rem;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.persistCheck label {
    margin: 0;
}

[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin: 0 5px 2px 2px;
}
*/
